@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Light.ttf);
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Black.ttf);
  font-weight: 800;
}

:root {
  --bgBODY: #3a3a3a;
  --bgFORM: #464646;
  --orange: #f67c00;
  --orangeHOVER: #d66c01;
  --greenSUCCESS: rgb(98, 255, 98);

  --black_003: rgba(0, 0, 0, 0.03);
  --black_005: rgba(0, 0, 0, 0.05);
  --black_01: rgba(0, 0, 0, 0.1);
  --black_02: rgba(0, 0, 0, 0.2);
  --black_03: rgba(0, 0, 0, 0.3);
  --black_04: rgba(0, 0, 0, 0.4);
  --black_05: rgba(0, 0, 0, 0.5);
  --black_06: rgba(0, 0, 0, 0.6);
  --black_07: rgba(0, 0, 0, 0.7);
  --black_08: rgba(0, 0, 0, 0.8);
  --black_09: rgba(0, 0, 0, 0.9);
}


